$color: #000;
$fontMain: 'Kaushan Script', cursive;
$fontSecundary: 'Poppins', sans-serif;

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@import "bannerSection";
@import "sideNav";